<div class="cart-progress-wrapper">
  {% assign _m = count | modulo: 6 %}

  <div class="progress-bar d-flex">
    
    {% if count >= 6 %} 
      {% assign node_count = count | minus: _m %}
    {% else %}
      {% assign node_count = 6 %}
    {% endif %}

    {% assign is_progress = true %}
    
    <span class="progress1{% if count >= node_count %} active{% endif %}">
      <span></span>
    </span>

    {% unless count >= node_count %}
      <style>
        .progress1 span {
          width: {{ 100 | times: _m | divided_by: 6 }}%;
        }
      </style>
      {% assign is_progress = false %}
    {% endunless %}

    <label class="node1{% if count >= node_count %} active{% endif %}" data-value="{{ node_count }}">{{ node_count }}</label>

    {% assign node_count = node_count | plus: 6 %}

    <span class="progress2{% if count >= node_count %} active{% endif %}">
      <span></span>
    </span>

    {% if is_progress and count < node_count %}
      <style>
        .progress2 span {
          width: {{ 100 | times: _m | divided_by: 6 }}%;
        }
      </style>
    {% endif %}

    <label class="node2{% if count >= node_count %} active{% endif %}" data-value="{{ node_count }}">{{ node_count }}</label>

  </div>
</div>