{%- if block.settings.logo -%}
  {%- style -%}
    .footer__logo a {
      <!-- height: {{ block.settings.desktop_logo_height }}px; -->
    }
  {%- endstyle -%}
  {%- assign footer_logo_size = block.settings.desktop_logo_height | prepend: 'x' -%}
  <div class="footer__logo">
    <a href="{{ routes.root_url }}">
      <img src="{{ block.settings.logo | img_url: footer_logo_size, scale: 2 }}" alt="{{ block.settings.logo.alt | default: shop.name }}">
    </a>
  </div>
{%- endif -%}
