<ul class="inline-list payment-icons footer__section" data-aosxxx>
  {% for i in (1..5) %}
    {% assign key = 'p_icon' | append: i %}
    {% if settings[key] != blank %}
      <li class="icon--payment">
        <div class="image_wrapper">
          {% render 'rimage', image: settings[key], presentation: true %}
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>