{% if product.metafields.info.title != blank %}
  <div class="product-meta-info">
    <div class="meta-info-header d-flex">
      {% for _t in product.metafields.info.title %}
        <div class="meta-info-header-item{% if forloop.first %} active{% endif %}" data-handle="meta-info-{{ forloop.index }}">{{ _t }}</div>
      {% endfor %}
    </div>
    <div class="meta-info-content">
      {% for _c in product.metafields.info.content %}
        <div class="meta-info-content-item{% if forloop.first %} active{% endif %}" data-content="meta-info-{{ forloop.index }}">{{ _c }}</div>
      {% endfor %}
    </div>
  </div>
{% endif %}