<div class="index-section">
  <div class="page-width{% if section.settings.narrow_column %} page-width--narrow{% endif %}">


    <div class="main-wrapper d-flex">
      <div class="info-blocks">
        {% if section.settings.contact_title != blank or section.settings.contact_text != blank %}
          <div class="info-block info-contact d-flex">
            <div class="info-wrapper">
              <label>{{ section.settings.contact_title }}</label>
              <span>{{ section.settings.contact_text }}</span>
            </div>
          </div>
        {% endif %}
        {% if section.settings.store_title != blank or section.settings.store_text != blank %}
          <div class="info-block info-store d-flex">
            <div class="info-wrapper">
              <label>{{ section.settings.store_title }}</label>
              <span>{{ section.settings.store_text }}</span>
            </div>
          </div>
        {% endif %}
        {% if section.settings.show_social %}
          <div class="info-block info-social d-flex">
            <div class="info-wrapper">
              <label>{{ section.settings.social_title }}</label>
              <span>
                {% render 'social-sharing' %}
              </span>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="contact-form-wrapper">
        {%- if section.settings.title != blank -%}
          <div class="section-header">
            <h2 class="section-header__title">
              {{ section.settings.title }}
            </h2>
            {%- if section.settings.text != blank -%}
              <div class="rte section-header__rte">{{ section.settings.text }}</div>
            {%- endif -%}
          </div>
        {% endif %}

        <div class="form-vertical">
          {%- assign form_id = 'contact-' | append: section.id -%}
          {%- form 'contact', id: form_id -%}

            {%- if form.posted_successfully? -%}
              <p class="note note--success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {%- endif -%}

            {{ form.errors | default_errors }}

            <div class="grid grid--small">
              <div class="grid__item medium-up--one-half">
                {% comment %}<label for="ContactFormName-{{ section.id }}">{{ 'contact.form.name' | t }}</label>{% endcomment %}
                <input type="text" id="ContactFormName-{{ section.id }}" placeholder="Navn" class="input-full" name="contact[name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>

              <div class="grid__item medium-up--one-half">
                {% comment %}<label for="ContactFormEmail-{{ section.id }}">{{ 'contact.form.email' | t }}</label>{% endcomment %}
                <input type="email" id="ContactFormEmail-{{ section.id }}" placeholder="Ordrenummer (valgfri)" class="input-full" name="contact[order_num]" autocorrect="off" autocapitalize="off" value="{% if form.order_num %}{{ form.order_num }}{% elsif customer %}{{ customer.order_num }}{% endif %}">
              </div>
            </div>

            {% comment %}<label for="ContactFormEmail-{{ section.id }}">{{ 'contact.form.email' | t }}</label>{% endcomment %}
            <input type="email" id="ContactFormEmail-{{ section.id }}" placeholder="E-mail" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

            {%- if section.settings.show_phone -%}
              {% comment %}<label for="ContactFormPhone-{{ section.id }}">{{ 'contact.form.phone' | t }}</label>{% endcomment %}
              <input type="tel" id="ContactFormPhone-{{ section.id }}" placeholder="Phone number" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
            {%- endif -%}

            {% comment %}<label for="ContactFormMessage-{{ section.id }}">{{ 'contact.form.message' | t }}</label>{% endcomment %}
            <textarea rows="5" id="ContactFormMessage-{{ section.id }}" placeholder="Besked" class="input-full" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

            <button type="submit" class="btn btn-active btn-full btn-regular">
              {% comment %}{{ 'contact.form.send' | t }}{% endcomment %}SEND BESKED
            </button>

            {% comment %}
              Remove the following three lines of code to remove the note
              about being protected by Google's reCAPTCHA service.
              By removing it, the small reCAPTCHA widget will appear in the
              bottom right corner of the page.
            {% endcomment %}

            {% comment %}
            {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
            {% endcomment %}

          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contact form",
    "class": "index-section section-contactus",
    "settings": [
      {
        "type": "paragraph",
        "content": "All submissions are sent to the customer email address of your store. [Learn more](https://help.shopify.com/en/manual/using-themes/change-the-layout/add-contact-form#view-contact-form-submissions)."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Contact us"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "show_phone",
        "label": "Show phone number"
      },
      {
        "type": "checkbox",
        "id": "narrow_column",
        "label": "Narrow column",
        "default": true
      },
      {
        "type": "header",
        "content": "Infos"
      },
      {
        "type": "paragraph",
        "content": "Contact Information"
      },
      {
        "type": "text",
        "id": "contact_title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "contact_text",
        "label": "Text"
      },
      {
        "type": "paragraph",
        "content": "Store"
      },
      {
        "type": "text",
        "id": "store_title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "store_text",
        "label": "Text"
      },
      {
        "type": "paragraph",
        "content": "Social"
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "label": "Show social icons",
        "default": true
      },
      {
        "type": "text",
        "id": "social_title",
        "label": "Title"
      }
    ],
    "presets": [{
      "name": "Contact form"
    }]
  }
{% endschema %}
