{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

{% render 'section-styles', section: section %}

<div class="page-width page-width--narrow">

  {%- if section.settings.title != blank -%}
    <header class="section-header">
      <h2 class="section-header__title text-heading">
        {{ section.settings.title | escape }}
      </h2>
    </header>
  {%- endif -%}

  <div class="faq-block-wrapper d-flex">
    {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}
        <div class="faq-item">
          <div class="faq-title d-flex">
            <span class="d-flex align-center justify-center text-bold">?</span>
            <label>{{ block.settings.title }}</label>
          </div>
          <div class="faq-text">{{ block.settings.text }}</div>
        </div>      
      {%- endfor -%}
    {%- endif -%}

    {%- if section.blocks.size == 0 -%}
      <div class="placeholder-noblocks">
        {{ 'home_page.onboarding.no_content' | t }}
      </div>
    {%- endif -%}
  </div>

</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
  {
    "name": "FAQ",
    "class": "index-section section-faq",
    "settings": [
      {
        "type": "header",
        "content": "Spacing"
      },
      {
        "type": "range",
        "id": "ptop",
        "label": "Top spacing desktop",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "pbottom",
        "label": "Bottom spacing desktop",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "ptop_mob",
        "label": "Top spacing mobile",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "pbottom_mob",
        "label": "Bottom spacing mobile",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "FAQs"
      }
    ],
    "blocks": [
      {
        "type": "faq",
        "name": "FAQ",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Rich text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this section for any descriptive text you need to fill out your pages or to add introductory headings between other blocks.</p>"
          }
        ]
      }
    ],
    "presets": [{
      "name": "FAQ"
    }]
  }
{% endschema %}
