<div class="section_container">
  <div class="main_content">
    <div class="main-wrapper d-flex" data-aos>
      <div class="image_wrapper">
        {% render 'rimage', image: section.settings.image %}
      </div>
      <div class="content_wrapper d-flex justify-center fd-column">
        {% if section.settings.title != blank %}
          <div class="h2 text-heading appear-delay{% cycle '','-1','-2','-3','-4','-5' %}">{{ section.settings.title }}</div>
        {% endif %}
        {%- if section.settings.subtext != blank -%}
          <div class="subtext appear-delay{% cycle '','-1','-2','-3','-4','-5' %}">{{ section.settings.subtext }}</div>
        {%- endif -%}
        {%- if section.settings.subtitle != blank -%}
          <div class="subtitle appear-delay{% cycle '','-1','-2','-3','-4','-5' %}">{{ section.settings.subtitle }}</div>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="text rte appear-delay{% cycle '','-1','-2','-3','-4','-5' %}">{{ section.settings.text }}</div>
        {%- endif -%}
        {% if section.settings.icon != blank %}
          <div class="icon_wrapper appear-delay{% cycle '','-1','-2','-3','-4','-5' %}">
            {% render 'rimage', image: section.settings.icon %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image text grid",
  "class": "imag-text-grid",
  "settings": [
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "paragraph",
      "content": "Icon"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtext",
      "label": "Sub text"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ]
}
{% endschema %}