<div class="page-width page-content">

  {%- render 'breadcrumbs' -%}

  <header class="section-header text-center{% if cart.item_count == 0 %} section-header--404{% endif %}">
    <h1 class="section-header__title">Kurv</h1>
    <div class="rte text-spacing">
      {%- if cart.item_count == 0 -%}
        <p class="text-heading">{{ 'cart.general.empty' | t }}</p>
      {%- endif -%}
      {% comment %}<p>{{ 'cart.general.continue_browsing_html' | t: url: routes.all_products_collection_url }}</p>{% endcomment %}
    </div>
  </header>

  {%- if cart.item_count > 0 -%}
    <form action="{{ routes.cart_url }}" method="post" novalidate data-location="page" id="CartPageForm">
      <div class="cart__page">
        <div class=cart-table-header>
          <label>Produkt</label>
          <div>
            <label>Antal</label>
            <label class="hide--mobile">Total</label>
            <label>Fjern</label>
          </div>
        </div>
        <div data-products data-cart-products class="cart__page-col">
          {% for item in cart.items %}
            {%- render 'cart-item-new', product: item -%}
          {%- endfor -%}
        </div>

        <div class="cart-page-footer d-flex">
          <div class="cart-progress">
            {% render 'cart-progress', count: cart.item_count %}
            {% if settings.progress_title != blank %}
              <div class="progress_title text-heading">
                {% comment %}{{ settings.progress_title }}{% endcomment %}
                Du har nu <span data-cart-count>{{ cart.item_count }}</span> cookies i kurven
              </div>
            {% endif %}
            {% if settings.progress_text != blank %}
              <div class="progress_text">{{ settings.progress_text }}</div>
            {% endif %}
          </div>
          <div class="cart__page-col">
            {% if settings.cart_notes_enable %}
              <div>
                <label for="CartNote">{{ 'cart.general.note' | t }}</label>
                <textarea name="note" class="input-full cart-notes" id="CartNote">{{ cart.note }}</textarea>
              </div>
            {% endif %}

            <div data-discounts>
              {% if cart.cart_level_discount_applications != blank %}
                <div class="cart__discounts cart__item-sub cart__item-row">
                  <div>{{ 'cart.general.discounts' | t }}</div>
                  <div class="text-right">
                    {% for cart_discount in cart.cart_level_discount_applications %}
                      <div class="cart__discount">
                        {{ cart_discount.title }} (-{{ cart_discount.total_allocated_amount | money }})
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>


            {% if settings.shipping_info != blank %}
              <div class="shipping_info text-right">{{ settings.shipping_info }}</div>
            {% endif %}

            <div class="cart__item-sub cart__item-row text-bold">
              <div>Total</div>
              <div data-subtotal>{{ cart.total_price | money }}</div>
            </div>

            {% if settings.cart_terms_conditions_enable %}
              <div class="cart__item-row cart__terms">
                <input type="checkbox" id="CartTerms" class="cart__terms-checkbox">
                <label for="CartTerms">
                  {% if settings.cart_terms_conditions_link != blank %}
                    {{ 'cart.general.terms_html' | t: url: settings.cart_terms_conditions_link }}
                  {% else %}
                    {{ 'cart.general.terms' | t }}
                  {% endif %}
                </label>
              </div>
            {% endif %}

            <div class="cart__item-row cart__checkout-wrapper">
              {% assign m = cart.item_count | modulo: 6 %}
              <button type="submit" name="checkout" data-terms-required="{{ settings.cart_terms_conditions_enable }}" class="btn cart__checkout btn-green text-bold" {% unless m == 0 %}disabled{% endunless %}>
                GÅ TIL BETALING
              </button>

              {% if additional_checkout_buttons and settings.cart_additional_buttons %}
                <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
              {% endif %}
            </div>

            {% comment %}
            <div class="cart__item-row text-center">
              <small>
                {{ 'cart.general.shipping_at_checkout' | t }}<br />
              </small>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
    </form>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Cart page",
    "settings": [
      {
        "type": "header",
        "content" :"Cart progress"
      },
      {
        "type": "text",
        "id": "progress_title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "progress_text",
        "label": "Text"
      },
      {
        "type": "header",
        "content": "Cart summary"
      },
      {
        "type": "richtext",
        "id": "shipping_info",
        "label": "Shipping info"
      }
    ]
  }
{% endschema %}
