{% render 'section-styles', section: section %}

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

  {%- liquid
    assign overlap_images = true
    if section.settings.image != blank
      assign overlap_images = false
    endif
  -%}
  
  <div class="index-section">
  
    <div class="page-width feature-row-wrapper">
      {%- capture image_layout -%}
        <div class="feature-row__item{% if overlap_images %} feature-row__item--overlap-images full-width{% endif %}" data-aos>
            {%- if section.settings.image != blank -%}
              <div>
                {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}<a href="{{ section.settings.button_link }}">{%- endif -%}
                  <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
                    {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img class="feature-row__image lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 750, 900, 1080]"
                      data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ section.settings.image.alt }}">
                  </div>
                {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}</a>{%- endif -%}
              </div>
            {%- endif -%}
            {%- if section.settings.image == blank -%}
              <div>
                <div class="image-wrap">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              </div>
            {%- endif -%}
        </div>
      {%- endcapture -%}
  
      <div class="feature-row layout-{{ section.settings.color_layout }}">
        {%- if section.settings.layout == 'left' -%}
          {{ image_layout }}
        {%- endif -%}
  
        <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} text-{{ section.settings.align_text }}" data-aos>
          {%- if section.settings.subtitle != blank -%}
            <div class="subheading appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.subtitle }}</div>
          {%- endif -%}
          {%- if section.settings.title != blank -%}
            <div class="h1 text-heading appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.title | escape }}</div>
          {%- endif -%}
          {%- if section.settings.text != blank -%}
            <div class="rte appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text }}</div>
          {%- endif -%}
          {%- if section.settings.button_label != blank -%}
            <div class="appear-delay{% cycle '','-1','-2','-3','-4' %}">
              <a href="{{ section.settings.button_link }}" class="btn btn-outline btn-regular{% if section.settings.color_layout == 'white' %} btn-white{% endif %}">
                {{ section.settings.button_label }}
              </a>
            </div>
          {%- endif -%}
        </div>
  
        {%- if section.settings.layout == 'right' -%}
          {{ image_layout }}
        {%- endif -%}
      </div>
    </div>
  
  </div>
  
  {%- if section.settings.divider -%}</div>{%- endif -%}
  
  {% schema %}
    {
      "name": "Single image with text",
      "class": "featured-image-with-text",
      "settings": [
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "ptop",
          "label": "Top spacing desktop",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 45
        },
        {
          "type": "range",
          "id": "pbottom",
          "label": "Bottom spacing desktop",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 45
        },
        {
          "type": "range",
          "id": "ptop_mob",
          "label": "Top spacing mobile",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 45
        },
        {
          "type": "range",
          "id": "pbottom_mob",
          "label": "Bottom spacing mobile",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 45
        },
        {
          "type": "header",
          "content": "Background"
        },
        {
          "type": "color",
          "id": "sectionbg",
          "label": "Background"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image with text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "color_layout",
          "label": "Color layout",
          "default": "black",
          "options": [
            {
              "value": "black",
              "label": "Black"
            },
            {
              "value": "white",
              "label": "White"
            }
          ]
        },
        {
          "type": "select",
          "id": "align_text",
          "label": "Text alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Centered"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Layout",
          "default": "right",
          "options": [
            {
              "value": "left",
              "label": "Image on left"
            },
            {
              "value": "right",
              "label": "Image on right"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "divider",
          "label": "Show section divider",
          "default": false
        }
      ],
      "presets": [
        {
          "name": "Single image with text"
        }
      ]
    }
  {% endschema %}
  