{% comment %}
  JS-load cart markup without bloat of a full layout.

  This is used in both the cart drawer and cart page.
  When a quantity is changed, this file is scraped and data-products
    is fully replaced to account for possible cart discounts changing

  The cart-wide discount div also replaces what is originally in the cart
    as it can change anytime a cart-item changes
{% endcomment %}

{% layout none %}


{% assign total_price = 0 %}


{% for item in cart.items %}
  {% assign variant = item.product.variants[0] %}
  {% if cart.item_count >= 6 %}
    {% assign variant = item.product.variants[1] %}
  {% endif %}
  {% if cart.item_count >= 12 %}
    {% assign variant = item.product.variants[2] %}
  {% endif %}
  {% assign _price = variant.price | times: item.quantity %}
  {% assign total_price = total_price | plus: _price %}
{% endfor %}

<div class="cart__items"
  data-count="{{ cart.item_count }}"
  data-cart-subtotal="{{ total_price | money }}">
  {% for item in cart.items %}
    {%- render 'cart-item-new', product: item -%}
  {% endfor %}
</div>
<div class="cart__discounts cart__item-sub cart__item-row{% if cart.cart_level_discount_applications == blank %} hide{% endif %}">
  <div>{{ 'cart.general.discounts' | t }}</div>
  <div>
    {% for cart_discount in cart.cart_level_discount_applications %}
      <div class="cart__discount">
        {{ cart_discount.title }} (-{{ cart_discount.total_allocated_amount | money }})
      </div>
    {% endfor %}
  </div>
</div>
